.card {
    background-color: #000;
    border: none;
    border-color: #000;
}

.btn-secondary {
    background-color: #000;
    color: rgb(178, 231, 255);
    border-color: rgb(178, 231, 255);
}

.btn-secondary:hover {
    color: rgb(136, 19, 50);
    border-color: rgb(136, 19, 50);
    background-color: #000;
}

.bg-black {
    background-color: #000;
}

.bg-secondary-red {
    background-color: rgb(136, 19, 50);
}

.bg-secondary-blue {
    background-color: rgb(178, 231, 255);
}

.bg-pink {
    background-color: rgb(255, 178, 191);
}

.navbar-brand img {
    height: 60px;
}

@media (min-width: 768px) {
    .navbar-brand img {
        height: 80px;
    }

}